:root {
    --bg-dark: #121212;
    --panel-dark: #1e1e1e;
    --text-light: #e0e0e0;
    --accent-red: #550505;
    --border-dark: #333;
    --hover-dark: #2a2a2a;
    --input-dark: #252525;
    --header-red: #550505;
    --page-title: rgba(145, 140, 120, 0.5);
    --notabs_black: #121212;
}

body {
    background-color: var(--bg-dark);
    font-family: "Consolas";
    font-size: 18px;

    #page_title {
        color: var(--page-title);
    }
}

h1, h2, h3, h4, h5 {
    color: darkgray;
}

button {
    padding: 8px 16px;
    border-style: none;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.1s;
    font-size: 18px;
    background-color: var(--accent-red);
    color: white;
    flex: 1;
    border-radius: 6px;
}

button:hover {
    filter: brightness(1.5);
}

button:active {
    background-color: rgba(100,50,30,1.0);
}

input {
    background-color: var(--input-dark);
    border: 2px groove gray;
    color: lightgray;
}

.layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: start;
}

.frame {
    border: 2px solid dimgray;
    border-top: 6px ridge dimgray;
    border-bottom: 4px double dimgray;
    background-color: var(--notabs_black);
    color: darkgray;
    /* width: 100%; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;

    ul {
        list-style-type: none;
        margin-right: 20px;
    }

    li {
        height: 20px;
        border: 1px solid gray;
        border-collapse: collapse;
    }

    #li_first {
        border: 1px solid gray;
        border-radius: 6px 0px 0px 6px;
        background-color: var(--header-red);
        color: var(--text-light);
        margin-left: 0px;
    }

    p {
        margin: 0px;
    }
    
    .sbar {
        display: flex;
        /* gap: 6px; */

        .sname {
            border-right: 2px solid gray;
            width: 60px;
            height: 100%;
            padding-left: 4px;
            padding-right: 4px;
        }
    }

    .smeasure {
        border-left: 3px solid darkred;
        border-right: 3px solid darkblue;
        width: 250px;

        .color_rect {
            background-color: green;
            /* width: 250px; */
            height: 20px;
        }
    }

    .arrow_left {
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-right: 14px solid lime;
        border-bottom: 8px solid transparent;
        margin: 2px 4px 0px 8px;

    }

    .arrow_right {
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-left: 14px solid lime;
        border-bottom: 8px solid transparent;
        margin: 2px 8px 0px 4px;

    }

    .arrow_left:hover, .arrow_right:hover {
        border-right-color: green;
        border-left-color: green;
    }
}

.calc_title {
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;

    #title_icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    h4 {
        padding-top: 10px;
    }
}

#calc2 {
    .input_time {
        display:flex; 
        justify-content: space-between;
        align-items: center;

        input {
            align-items: end;
        }

        p {
            margin-top: 12px;
        }
    }
}