:root {
    --bg-dark: #121212;
    --panel-dark: #1e1e1e;
    --text-light: #e0e0e0;
    --accent-red: #550505;
    --border-dark: #333;
    --hover-dark: #2a2a2a;
    --input-dark: #252525;
    --header-red: #550505;
}

body {
    background-color: black;
    font-family: "verdana";
}

h1, h2, h3, h4, h5 {
    color: darkgray;
}

.tlayout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    alight-content: start;
}



.skill_tree {
    border-left: 2px solid dimgray;
    border-right: 4px double dimgray;
    border-top: 6px ridge dimgray;
    border-bottom: 4px double dimgray;
    border-collapse: collapse;
    width: 1%;
    text-align: center;
    margin-top: 28px;
    height: 1%;
    background-color: var(--bg-dark);

    th {
        width: 45px;
        height: 25px;
    }
    .skill_icon {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    td {
        /* background-color: rgba(255,255,255,0.03); */
        padding: 0px;
        min-width: 45px;
        min-height: 45px;
        border-top: 1px solid rgba(255,255,255, 0.2);
        border-bottom: 1px solid rgba(255,255,255, 0.2);
    }

    .row_head {
        /* background-color: rgba(255,255,255,0.03); */
        /* color: lightgray; */
        font-size: 18px;
        color: darkgray;
    }
}

select#char_classes {
    background-color: var(--input-dark);
    color: darkgray;
    font-size: 18px;
    text-align: center;
    width: 150px;
    border-radius: 8px 8px 0px 0px;
    border-color: black;

    .branch_1 {
        color: gray;
    }
    .branch_2 {
        color: lightgray;
    }
    .branch_3 {
        color: rgb(219, 175, 0);
    }
}
#char_classes:hover {
    color: lightgray;
}


.skill_bars {
    border: 4px double dimgray;
    border-top: 6px ridge dimgray;
    border-bottom: 4px double dimgray;
    border-right: 0px;
    background-color: var(--bg-dark);
    color: darkgray;
    width: 500px;

    ul {
        list-style-type: none;
        margin-right: 20px;
    }

    li {
        height: 20px;
        border: 1px solid gray;
        border-collapse: collapse;
    }

    #li_first {
        border: 1px solid gray;
        border-radius: 6px 0px 0px 6px;
        background-color: var(--header-red);
        color: var(--text-light);
        margin-left: 0px;
    }

    p {
        margin: 0px;
    }
    
    .sbar {
        display: flex;
        /* gap: 6px; */

        .sname {
            border-right: 2px solid gray;
            width: 60px;
            height: 100%;
            padding-left: 4px;
            padding-right: 4px;
        }
    }

    .smeasure {
        border-left: 3px solid darkred;
        border-right: 3px solid darkblue;
        width: 250px;

        .color_rect {
            background-color: green;
            /* width: 250px; */
            height: 20px;
        }
    }

    .arrow_left_one {
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-right: 8px solid white;
        border-bottom: 8px solid transparent;
        margin: 2px 4px 0px 4px;

    }
    .arrow_left_ten {
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-right: 8px solid lime;
        border-bottom: 8px solid transparent;
        margin: 2px 0px 0px 4px;

    }
    .arrow_left_all {
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-right: 8px solid blue;
        border-bottom: 8px solid transparent;
        margin: 2px 0px 0px 8px;

    }

    .arrow_right_one {
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-left: 8px solid white;
        border-bottom: 8px solid transparent;
        margin: 2px 4px 0px 4px;

    }
    .arrow_right_ten {
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-left: 8px solid lime;
        border-bottom: 8px solid transparent;
        margin: 2px 4px 0px 0px;

    }
    .arrow_right_all {
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-left: 8px solid blue;
        border-bottom: 8px solid transparent;
        margin: 2px 8px 0px 0px;

    }

    .arrow_left:hover, .arrow_right:hover {
        border-right-color: green;
        border-left-color: green;
    }
}